.addcandidateform_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/common-background-image.png');
  background-size: cover;
  background-position: center center;
}

.addcandidateform_form {
  display: flex; /* Make the form a flex container */
  background-color: #fff; 
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

.form_left,
.form_right {
  flex: 1; /* Divide form into two equal parts */
  display: flex;
  flex-direction: column;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Center buttons horizontally */
  /* margin-top: 20px;
  width: 100%; Span across both halves */
}

.submit_button,
.cancel_button {
  padding: 10px 30px;
  background-color: #d4d4d4;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button {
  background-color: #cccf;
  color: #000;
}

.cancel_button {
  background-color: #ccc;
  color: #000;
}

h2 {
  text-align: center; /* Center the title */
  margin-bottom: 30px;
}