/*
Project: Hiring Portal Project
Author: Omkar & Vishal
Date: 05/04/2024
Sprint: Sprint 1 
User Story: Successful Login and Home Page

Modification Log:
-------------------------------------------------------------------------------------------------------
Date        |   Author                  |   Sprint   |    Description 
-------------------------------------------------------------------------------------------------------
09/05/2024  |   Harshini C              |   4        |    BG update to all screens
10/05/2024  |   Vishal                  |   4        |   CSS and alignment based on BG image
-------------------------------------------------------------------------------------------------------
*/

.home_page_container {
  background-image: url("../assets/commonBGImage.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 200px;
  color: aqua;
}

.link_container {
  text-align: center;
}

.link {
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  color: rgb(126, 126, 126);
  transition: background-color 0.25s;
}
