/* Login.css */


.login-container {
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    align-items: center;
    /* padding-left: 25%; */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #122030;
    /* background-size: cover; */
    /* padding: 60px; */

  }
  
  .login-form {
    display: flex;
    flex-direction: column;
     /* justify-content: center; */
    padding: 30px;
    /* padding-bottom: 20px; */
    margin-left: 22%;
    border-radius: 30px;
    border: solid;
    border-color: #ffffff;
    /* box-shadow: 2px 2px 2px 8px #61dafb; */
  }

  .sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .labletype {
    margin-right: 30px;
    padding: 8px;
    color: #ffffff;
    align-items: start;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-input {
    /* padding: -10px; */
    /* margin-bottom: 10px; */
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: end;
    background: transparent;
    color: #ffffff;
  }
  
  .login-input:focus {
    outline: none;
    box-shadow: 0 0 3px 1px rgba(0, 122, 255, 0.5);
  }
  
  .login-button {
    padding: 10px 30px;
    background-color: #d4d4d4;
    color: #000;
    width:50%;
    margin-left: 22%;
    margin-right: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0069d9;
  }
  

  .login-link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 27%;
    margin-right: 5%;
  }

  .signup-link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10%;
  }

  .login-link:hover {
    color: #0069d9;
  }
  
  .signup-link:hover {
    color: #0069d9;
  }