.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   
  .form {
    background-color: transparent;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: solid;
    border-color: #ffffff;
  }
   
  .title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #ffffff;
  }
   
  .formField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    width: 80%;
    margin: 10px;
  }
   
  .fieldLabel {
    margin-right: 30px;
    padding: 8px;
    color: #ffffff;
    width: 300px;
  }
   
  .formInput {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: black;
    width: 100%;
    border-style: none;
    padding-bottom: 0.5px;
  }
   
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }
   
  .button {
    padding: 10px 30px;
    background-color: #d4d4d4;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   
  .button:hover {
    background-color: #0069d9;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 1;
  }
  
  .popup_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .popup_message {
    color: #ffffff;
    text-align: center;
  }

  .popup_close_button {
    padding: 10px 10px;
    background-color: #d4d4d4;
    color: #000;
    width:25%;
    margin: 10px 32%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .popup_close_button:hover {
    background-color: #0069d9;
  }