/*
Project: Hiring Portal Project
Author: Omkar
Date: 8/07/2024
Sprint: Sprint 1 PHASE 2
User Story: Phase2 Admin Display

 
Modification Log:
-------------------------------------------------------------------------------------------------------
Date        |   Author                  |   Sprint   |    Description
-------------------------------------------------------------------------------------------------------
            |                           |            |  
-------------------------------------------------------------------------------------------------------
*/

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.main-skill-name {
  margin-bottom: 20px;
}

.main-skill-name input {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
}

.subskill-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.subskill-table th, .subskill-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.subskill-table input {
  padding: 5px;
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
